<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/carlettoicon.png"  href="carlettoicon.png">
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
   </head>
<body>
  <header>
    <div class="header-nocolor">
      <div class="container">
        
          <ul>
            <li class="inicio"><a href="https://www.grupocarletto.com.br/">Inicio</a></li>
            <li class="sobre"><a href="https://www.grupocarletto.com.br/?page_id=327">Sobre</a></li>
            <li class="sobre"><a href="https://www.grupocarletto.com.br/?page_id=455">Credenciadas</a></li>
            <li class="sobre"><a href="https://www.grupocarletto.com.br/?page_id=450">Blog</a></li>
            <li class="sobre"><a href="https://www.grupocarletto.com.br/">Contato</a></li>
            <li class="sobre"><a href="https://www.grupocarletto.com.br/?page_id=339">Area do Cliente</a></li>
          </ul>
      </div>
    </div>  
  </header>

  <div class="sidebar close">
    <div class="logo-details">
      <img src="img/icone-logo-menu.png">
      <span class="logo_name"><img src="img/1logo-login.png"></span>
    </div>
    <ul class="nav-links">
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Cadastro</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Cadastro</a></li>
          <li><a href="formulario-cadastro-orgao.html">Orgão</a></li>
          <li><a href="formulario-cadastro-usuario.html">Usuarios</a></li>
          <li><a href="formulario-cadastro-consultas.html">Consultas</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
        <a href="#">
          <i class='bx bx-pie-chart-alt-2' ></i>
          <span class="link_name">Empenho</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Empenho</a></li>
          <li><a href="tabela-saldos.html">Saldos</a></li>
          <li><a href="tabela-extratos.html">Extrato</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
        <a href="#">
          <i class='bx bx-line-chart' ></i>
          <span class="link_name">Painel</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Painel</a></li>
          <li><a href="monitor-avencer.html">A vencer</a></li>
          <li><a href="monitor-vencidos.html">Vencidos</a></li>
          <li><a href="todos-vencimentos.html">Todos</a></li>
        </ul>
      </li>
  <li>
    <div class="profile-details">
      <div class="profile-content">
      </div>
      <div class="name-job">
        <div class="profile_name">$Usuario</div>
        <div class="job">Carletto Sitemas</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <!--Start Main -->
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">Sistema de Monitoramento <h1>  Contratos Carletto</h1></span>
      <h3 id="ass"> _Por Martinho Ramos</h3>
    </div>
    <div class="dataehora">
      <script language=javascript type="text/javascript">
      now = new Date
      document.write (now.getHours() + ":" + now.getUTCMinutes() + ", " + now.getDate() + "/" + now.getMonth() + "/" + now.getFullYear() )
      </script>
      </div>

      <!-- Inicio do formulario -->
      <!--<div class="campo-cadastro">
      <p id="titulo-cadastro-orgao">Ogãos Cadastrados</p>
      
        <form action="/" method="post" class="formulario-cadastro">
          <button id="novo" href="novo-cadastro-orgao.html">Novo</button>
          <button id="filtro">Filtro</button>
          <br><br>
          <td id="th1">Orgão</td>
          <input class="nome-orgao-input" type="text" name="nome-orgao">
          <br><br>
          <th id="th2">Data Vencimento</th>
          <input class="data-vencimento-input" type="date" name="data-vencimento">
          <br><br>
          <th id="th3">Valor Contrato</th>
          <input class="valor-contrato-input" type="number">
          <br><br><br>
          <button class="botao-gravar-formulario">Voltar</button>
        </form>
    
      </div> -->
      <div class="titulo-tabela">
      <p id="titulo-cadastro-usuario">Órgão Cadastrados</p>
          <button id="novo-cadastro-usuario" onclick="window.location.href='novo-cadastro-orgao.html';">Novo</button>
          <button id="filtro-cadastro-usuario" onclick="window.location.href='filtro-cadastro-orgao.html';">Filtro</button>
          <br><br>
      </div>
      <div id="tabelas-1">
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Identificador</th>
              <th scope="col">Contrato</th>
              <th scope="col">Data de Vencimento</th>
              <th scope="col">Valor do Contrato</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$des_id</td>
              <td>$des_contrato</td>
              <td>$des_data_vencimento</td>
              <td>$des_valor_contrato</td>
            </tr>
          </tbody>
        </table>
        <button class="botao-voltar" onclick="history.go(-1)">Voltar</button>
      </div>
      <!-- Fim do formulario -->
  </section>
  <!-- End Main -->
  
    
  
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
  <script src="lib/js/bootstrap.min.js"></script>
  <script src="lib/js/bootstrap.min.js"></script>
</body>
</html>
